#graph_bg {
    /* position: relative; */
    /* display: flex; */
    /* -webkit-box-pack: center; */
    /* justify-content: center; */
    padding: 24px;
    background-color: rgba(31, 38, 46, 0.15) !important;
    border: 1px solid rgba(59, 74, 89, 0.2) !important;
    /* margin-top: 2%;
    margin-bottom: 4%; */
    margin: 3%;
    width: fit-content;
}

#graphs_dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  #graph_bg {
    flex: 0 0 calc(50% - 20px);
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
  }
  
  @media screen and (max-width: 768px) {
    #graph_bg {
      flex: 0 0 100%;
    }
  }
  